* {
    padding: 0;
}

.page-body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.center {
    text-align: center;
}

.wrap {
    width: 1140px;
    margin: 0 auto;
}
