.features {
    background-color: $second-color;
    color: #fff;
    padding: 1px 0;

    &-wrap {
        margin-top: 103px;
        margin-bottom: 104px;

        @media (max-width: 767px) {
            margin-top: 48px;
            margin-bottom: 81px;
        }

    }
}

.features-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;

    @media (max-width: $tablet-breakpoint) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }
}

.features-item {
    width: 360px;
    height: 134px;
    display: flex;
    justify-content: space-around;
}

.features-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-name {
    margin-top: 28px;
    margin-bottom: 16px;

    &2 {
        margin-top: 19px;
        margin-bottom: 16px;
    }

    &3 {
        margin-top: 25px;
        margin-bottom: 16px;
    }
}

.features-text {
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    margin: 0 auto;
}

.delivery-img {
    display: inline-block;
    transition: 0.5s;

    &:hover {
        transform: rotate(360deg);
    }
}

.sales-img {
    display: inline-block;
    transition: 0.5s;

    &:hover {
        transform: rotate(360deg);
    }
}

.quality-img {
    display: inline-block;
    transition: 0.5s;

    &:hover {
        transform: rotate(360deg);
    }
}
