.feedback {
    background-image: url("../img/subscribe_back.png");
    background-repeat: no-repeat;
    background-size: cover;

    &-wrap {
        height: 225px;
        padding-top: 97px;
        padding-bottom: 126px;
        display: flex;
        justify-content: space-between;
    }
}

.feedback-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 359px;
    height: 225px;
}

.feedback-text {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.feedback-sub {
    width: 557px;
    height: 142px;
    margin-top: 53px;
}

.feedback-title {
    font-weight: normal;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: $second-color;

    &-bold {
        font-weight: bold;
        font-size: 24px;
        line-height: 167.2%;
        text-align: center;
        color: $second-color;
    }
}

.form {
	display: flex;
	justify-content: center;
	align-items: stretch;

    &-field {
	    padding: 18px 23px;
	    background-color: #E1E1E1;
	    border: none;
	    border-radius: 20px 0 0 20px;
	    color: #222;

        &::placeholder {
            color: #222224;
	        font-size: 12px;
        }

        &:hover {
            background-color: lightgrey;
        }
    }

    &-button {
        padding: 18px 23px;
        background-color: $main-color;
        border: none;
        border-radius:  0 20px 20px 0;
        color: #fff;
    
        &:hover {
            background-color: #E05C6E;
        }
    }
}


