.filter {
    width: 360px;
    position: relative;
    margin-right: 11px;
    
    &-title {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        text-transform: uppercase;
        display: block;
        padding: 13px 16px;

        @media (max-width: $tablet-breakpoint) {
            padding-left: 0px;
        }

        @media (max-width: 767px) {
            display: flex;
            color: #fff;
            flex-direction: column;
            padding: 0px;

            .filter-icon {
                width: 37px;
                height: 25px;
            }
        }
    }


    &-drop {
        position: absolute;
        background-color: #fff;
        z-index: 1000;
        padding: 16px;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        width: 100%;
        box-sizing: border-box;
    }

    &[open] {
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &[open] .filter-title {
        color: $main-color;
        background-color: #fff;
        position: relative;
        z-index: 1001;

        .filter-icon {
            position: absolute;
            margin-top: 4px;
            margin-left: 5px;
            fill: $main-color;
        }
    }
}

.subfilter {
    margin-bottom: 17px;
}

.subfilter-title {
    display: block;
    text-transform: uppercase;
    padding: 11px;
    border-left: 5px solid $main-color;
    border-bottom: 1px solid #ebebeb;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.subfilter[open] .subfilter-title {
    color: $main-color;
}

.subfilter-list {
    list-style-type: none;
    padding-left: 16px;
}

.subfilter-item {
    margin-bottom: 11px;
}

.subfilter-btn {
    background-color: #fff;
    border: none;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    font-family: inherit;
}



.subfilter-title::-webkit-details-marker {display: none;}

.filter-title::-webkit-details-marker {display: none;}

.products-choice {
    display: flex;
    margin-top: 31px;
    margin-bottom: 65px;
    align-items: center;
    cursor: pointer;

    @media (max-width: $tablet-breakpoint) {
        margin-top: -30px;
        margin-bottom: 40px;
    }

    @media (max-width: 767px) {
        margin-top: 0px;
        margin-bottom: 32px;
    }

    &-list {
        display: flex;
        list-style-type: none;
        padding-left: 30px;
        position: relative;

        @media (max-width: $tablet-breakpoint) {
            padding-left: 25px;
        }

        @media (max-width: 767px) {
            padding-left: 25px;
        }
    }

    &-box {
        padding-right: 48px;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;

        @media (max-width: $tablet-breakpoint) {
            padding-right: 0px;
        }

        @media (max-width: 767px) {
            padding-right: 0px;
        }
    }

    &-title {
        display: block;

        @media (max-width: $tablet-breakpoint) {
            padding-left: 28px;
            font-size: 12px;
            line-height: 14px;
        }

        @media (max-width: 767px) {
        
        }
    }

    &-drop {
        margin-top: 5px;
        position: absolute;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        width: 79px;
        box-sizing: border-box;
        z-index: 1000;
    }
}

.sort-line {
    display: block;
    margin-bottom: 10px;
}

.fa-chevron-down {
    padding-left: 10px;
}

.products-choice-title::-webkit-details-marker {display: none;}
.sort-line::-webkit-details-marker {display: none;}