.page-footer {
    background-color: $second-color;
    color: #fff;
    padding: 6px 0;
}

@media (max-width: 767px) {
    .footer-wrap {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        padding: 0px;
    }
}

.footer-title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-top: -40px;

    @media (max-width: 767px) {
        margin-top: 0px;
        padding-top: 43px;
        padding-bottom: 40px;
        margin-bottom: 0px;      
    }
}

.footer-icon {
    margin-left: 7px;
    height: 32px;
    display: inline-block;
    fill: white;
    
    &:hover {
        fill: $main-color;
        color: white;
    }
}
