.page-header {
    background-color: $second-color;
    color: #fff;
    padding: 18px 0;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $tablet-breakpoint) {
        margin: 0px;
        padding: 0px;
    }

    @media (max-width: 767px) {
        padding-left: 16px;

        .search {
            padding-left: 41px;
        }

        .reg {
            display: none;
        }

        .cart {
            display: none;
        }
    }
}

.header-icon {
    padding-left: 41px;
    fill: #E8E8E8;

    &:hover {
        fill: $main-color;
        transition: 0.3s;
    }

    @media (max-width: 767px) {
        padding: 0px;
    }
}

.main-nav {
    width: 232px;
    height: 760px;
    padding: 20px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    position: absolute;
    right: 0;
    top: 78px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 25px;
    transform-origin: top right;
    transition: 0.3s;

    &--open {
        transform: scaleY(1);
    }

    &--close {
        transform: scaleY(0);
    }

    @media (max-width: 786px) {
        width: 100vw;
        height: 100vh;
        padding: 30px;
    }
}

.main-nav-box {
    position: relative;
}

.main-nav-list {
    padding: 0;
    list-style: none;
}

.main-nav-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: $main-color;
}

.main-nav-close {
    background-color: transparent;
    border: none;
    position: absolute;
    top: -10px;
    right: -5px;
    cursor: pointer;
}

.main-nav-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;  
    color: #000000;
    margin-bottom: 24px;
}

.submenu-list {
    padding: 0;
    list-style: none;
    padding-left: 20px;
    margin-top: 15px;
}

.submenu-item {
    margin-bottom: 20px;
}

.submenu-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}