.products-navigation {
    text-align: center;
}

.fa-chevron-left {
    color: black;
    
    &:hover {
        color: $main-color;
    }
}

.fa-chevron-right {
    color: black;

    &:hover {
        color: $main-color;
    }
}

.products-navigation-list {
    display: inline-block;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
    color: rgb(192, 192, 192);
    height: 44px;
}

.products-navigation-list a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 44px;
    color: rgb(192, 192, 192);

    &.active {
        color: #EF5B70;
    }

    &:hover:not(.active) {
        color: black;
    }

    @media (max-width: 767px) {
        padding: 4px 8px;
    }
}
