.registration-wrap {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
        flex-direction: column;
    }
}

.registration-info {
    padding-left: 128px;
    width: 625px;
    padding-top: 64px;
    padding-bottom: 277px;

    @media (max-width: $tablet-breakpoint) {
        padding: 40px 16px 274px 22px;
    }

    @media (max-width: 767px) {
        width: 358px;
        padding: 0px 0px 96px 0px;
    }

}

.regform {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: 64px;
    margin-bottom: 96px;

    &-name {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        padding-bottom: 20px;
    }

    &-field {
        border: 1px solid #A4A4A4;
        width: 360px;
        margin-bottom: 21px;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #222224;
        padding: 13px 45px 16px 17px;

        @media (max-width: 767px) {
            width: 95%;
            padding-right: 0px;
        }
    }
}

.check::before {
    content: "✓";
    padding-right: 23px;
}

@media (max-width: $tablet-breakpoint) {
    .check {
        padding-top: 16px;
    }
}


.sex {
    display: flex;
    padding-bottom: 33px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.registration-desc {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin-top: -6px;
    margin-bottom: 39px;
}

.button-reg {
    padding: 10px 20px;
    border: 1px solid #FF6A6A;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    background-color: $main-color;
    transition: 0.3s;
    width: 167px;
    height: 50px;
    padding-left: 15px;
    
    &:hover {
        transform: scale(1.1); 
    }
}

.registration-title {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

    @media (max-width: $tablet-breakpoint) {
        font-size: 16px;
        line-height: 19px;
    }
}

.registration-text {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

    &-list {
        list-style-type: none;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;

        @media (max-width: $tablet-breakpoint) {
            font-size: 16px;
            line-height: 19px;
        }
    }

    @media (max-width: $tablet-breakpoint) {
        font-size: 16px;
        line-height: 19px;
    }
}

.fa-check {
    padding-right: 23px;
}


