.page-title {
    background-color: #F8F3F4;
    height: 148px;
    margin: 0;
}

.page-title-text {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: $main-color;
    padding-top: 59px;
    padding-bottom: 60px;
    margin: 0;
}

.breadcrumb-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-top: -82px;
}

.breadcrumb-item a {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-decoration: none;
}

.breadcrumb-item.active {
    color: $main-color;
}