.page-title {
    background-color: #F8F3F4;
    height: 148px;
    margin: 0;
}

@media (max-width: 767px) {
    .page-title-wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 148px;
        padding: 0px;
    }
}

.page-title-text {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: $main-color;
    padding-top: 59px;
    padding-bottom: 60px;
    margin: 0;

    @media (max-width: 767px) {
        padding-top: 24px;
        padding-bottom: 115px;
    }    
}

.breadcrumb-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-top: -82px;

}

.breadcrumb-item a {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-decoration: none;
}

.breadcrumb-item.active {
    color: $main-color;
}